body {
  background-color: black;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.form-container {
    border: 3px solid #f1f1f1;
    background-color: white;
    
}
.container {
  margin: 30px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  
  
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: teal;
    color: white;
    padding: 14px 20px;
    margin: 8px 8px;
    border: none;
    cursor: pointer;
    display: flex;
    width: auto;
    border-radius: 6px;
}

button:hover {
    opacity: 0.8;
}

form {
    padding: 20px;
 
}

.checkbox-container {
    border: 3px solid #f1f1f1;
    padding: 30px;
    background-color: white;
    
}

/* Customize the label (the container) */
.container-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container-check:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container-check input:checked ~ .checkmark {
    background-color: black;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container-check input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container-check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


.image-container{
  width: 60%;
  margin-left: 350px;
  margin-top: 50px;
  background-color: beige;
  
  
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem; 
  margin: 30px 10px;

}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex; 
}
/* 
.galley__item {
  text-align: center;
  position: relative;
} */

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: center;
  position: relative;

}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: center;
  position: relative;

}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
  text-align: center;
  position: relative;

}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
  text-align: center;
  position: relative;
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
  text-align: center;
  position: relative;
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
  text-align: center;
  position: relative;
}

.gallery__item:hover .gallery__img {
  opacity: 0.3;
}
.gallery__item:hover .text-middle {
  opacity: 1;
}

.text-middle {
  opacity: 0;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width:850px) {

    .form-container{
      max-width: 1200px;
      margin: 10 auto;
      display: grid;
      gap: 1rem;
      background:whitesmoke ;
      }
  
    .container{ 
      grid-template-columns: 1fr;
      grid-template-rows: 10fr 10fr ;
      grid-template-areas:
      "form-container"
      "checkbox-container"
      "image-container"
    }
    button{
      width:auto;
      }
    .checkbox-container{
      width:auto; 
      background:whitesmoke ;
      margin: 0;
    }

    .image-container{
      margin-left: 0;
      width: fit-content;
      background-color: black;
    }

    .gallery{
      display:inherit;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 5vw);
    }
    .gallery__img {
      width: 100%;
      height: auto;

    }
    .gallery__item--1{
      width: 100%;
      height: auto;
    }
    .gallery__item--2{
      width: 100%;
      height: auto;
    }
    .gallery__item--3{
      width: 70%;
      height: auto;
    }
    .gallery__item--4{
      width: 70%;
      height: auto;
    }
    .gallery__item--5{
      width: 70%;
      height: auto;
    }
    .gallery__item--6{
      width: 70%;
      height: auto;
    }

}
